<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="ConnectionString" connectionString="Password=BSS_ONLINE_20170518_20;Persist Security Info=True;User ID=BSS_ONLINE_20170518_20;Data Source=172.16.6.182/puti;" providerName="Oracle.DataAccess.Client" />
    <add name="RedisConfigs" connectionString="172.16.5.33:6380,172.16.5.33:6379"/>    
  </connectionStrings>
  <appSettings>    
    <!--服务地址-->
    <add key="MTServices.BaseAddr" value="http://172.16.5.31:7150/" />
  </appSettings>
</configuration>